* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root{
   --ff-primary: "Poppins", sans-serif;
   --text-font: #303030;
   --hue:24;
   --primary-color:hsl(var(--hue), 100%, 63%);
   
   
   font-size: 62.5%;
   
}
body{
   font-size: 1.6rem;
   color: var(--text-font);
   font-family: var(--ff-primary);
}
.sr-only{
   position: absolute;
   padding: 0;
   width: 1px; 
   height: 1px;
   margin: -1px;
   overflow: hidden;
   clip:rect(0,0,0,0);
   white-space: nowrap;
   border-width: 0;
}
#app{
   max-width: 500px;
   margin: 0 auto;
   padding: 2rem;
}
header{
   margin: 2.5rem 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header h1{
   font-size: 2rem;
   text-transform: uppercase;
}
.search{
   display: flex;
   align-items:center;
}
.search input{
   height: 3.2rem;
   border: 1px solid #ccc;
   border-radius: .4rem 0 0 .4rem;
   padding: 0 .8rem;
}
.search button{
   background-color: var(--primary-color);
   border-radius: 0 .4rem .4rem 0;
   height: 3.2rem;
   border: none; 
   padding: 0 1rem;
   cursor: pointer;
}
.search button:hover{
   filter: brightness(1.1);
}
table{
   width: 100%;
   border-collapse: collapse;
   box-shadow: 0 0 .8rem .1rem rgba(0,0,0,.1);
}
table * {
   font-size: 1.4rem;
   color:var(--text-color);
}
table th{
   background: var(--primary-color);
   text-align: left;
   padding: 1.5rem;
   font-weight: normal;
   color: #fff;
}
td.usuario{
   display: flex;
   align-items: center;
   gap: 1rem;
}
td.usuario a{
   text-decoration: none;
}
td.usuario a p{
   font-weight: bold;
}
td.usuario img{
   width: 5rem;
   height: 5rem; 
   object-fit: cover; 
   border-radius: 50%;
}
td button{
   background:none;
   border: none;
   color: red;
   padding: .4rem;
   cursor pointer
}
table th:first-child{
   border-top-left-radius: .4rem;
}
table th:last-child{
   border-top-right-radius: .4rem;
}
table tr:nth-child(odd){
   background: #fdf1e8;
}
table tr:nth-child(even){
   background: #fef9f5;
}
table td{
   padding: 1.5rem;
   text-align: left;
}

